<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Information Form</title>
    <link rel="manifest" href="manifest.json">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://www.gstatic.com/firebasejs/10.6.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.6.0/firebase-auth-compat.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="lab3.css">
</head>
<body>
<div id="app">
    <h1>User Authentication form</h1>
    <div v-if="!authUser">
        <div v-if="showRegisterForm">
            <form class="form" @submit.prevent="submitForm">
                <p class="title">Register</p>
                <p class="message">Signup now and get full access</p>
                <label>
                    <span>Email</span>
                    <input id="email" class="input" type="email" required v-model="formData.email">
                </label>
                <label>
                    <span>Password</span>
                    <input id="password" class="input" type="password" required v-model="formData.password">
                    <input type="checkbox" onclick="myFunction()">
                    <span>Show Password</span>
                </label>
                <button class="submit">Submit</button>
                <p>Already have an account? </p>
                <button @click="showRegisterForm = false">Sign In</button>
            </form>
        </div>
        <div v-else>
            <form class="form" @submit.prevent="signIn">
                <p class="title">Login</p>
                <p class="message">Login to your account</p>
                <label>
                    <span>Email</span>
                    <input class="input" type="email" required v-model="formData.email">
                </label>
                <label>
                    <span>Password</span>
                    <input id="password" class="input" type="password" required v-model="formData.password">
                    <input type="checkbox" onclick="myFunction()">
                    <span>Show Password</span>
                </label>
                <button class="submit">Submit</button>
                <p>Don't have an account? </p>
                <button @click="showRegisterForm = true">Register</button>
            </form>
        </div>
    </div>

    <div v-else>
        <div v-if="authUser.emailVerified">
            <p class="message">You are logged in as {{authUser.email}}</p>
            <p class="message">Last Login: {{lastLogin}}</p>
            <button class="button" @click="signOut">Sign out</button>
            <button class="button" @click="showUserInfoAndCountryInfo">Show User Info</button>


            <div id="userInfoModal" class="modal">
                <div class="form">
                    <span class="close" @click="closeUserInfoModal">&times;</span>
                    <p>User Information</p>
                    <p>Last Login: {{lastLogin}}</p>
                    <p>Location: {{userLocation}}</p>
                    <p>Weather: {{weatherInfo}}</p>
                    <p>Local Language: {{countryLanguage}} </p>
                    <p>Local Currency: {{countryCurrency}} </p>
                    <p>Local address: {{countryTime}} </p>
                </div>
            </div>
        <div v-else>
            <p class="message">Please verify your email to proceed.</p>
            <p class="message">Verification link sent to email address</p>
            <button class="button" @click="sendVerificationEmail">Resend Verification Email</button>
        </div>
    </div>
    </div>
</div>
<script src="lab_main.js"></script>
</body>
</html>
